flask
flask-cors
gunicorn
neo4j
langchain
langchain-core
langchain-community
langchain-groq
langchain-google-genai
requests
wikipedia
SPARQLWrapper
python-dotenv
beautifulsoup4
lxml
tiktoken
# XÓA DÒNG sentence-transformers và langchain-huggingface ĐI
