flask
flask-cors
gunicorn
neo4j
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers   <--- DÒNG BẮT BUỘC PHẢI THÊM
requests
wikipedia
SPARQLWrapper
python-dotenv
beautifulsoup4
lxml
tiktoken
